<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(122.000000, -200.000000);
		var myOptions = {
			zoom: 1000,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

var coords = [
new google.maps.LatLng(57.991018, 160.000000),
new google.maps.LatLng(57.991154, 160.002943),
new google.maps.LatLng(57.991559, 160.005796),
new google.maps.LatLng(57.992221, 160.008473),
new google.maps.LatLng(57.993119, 160.010893),
new google.maps.LatLng(57.994226, 160.012982),
new google.maps.LatLng(57.995508, 160.014677),
new google.maps.LatLng(57.996927, 160.015927),
new google.maps.LatLng(57.998439, 160.016692),
new google.maps.LatLng(57.999999, 160.016950),
new google.maps.LatLng(58.001559, 160.016693),
new google.maps.LatLng(58.003071, 160.015929),
new google.maps.LatLng(58.004490, 160.014681),
new google.maps.LatLng(58.005773, 160.012987),
new google.maps.LatLng(58.006880, 160.010897),
new google.maps.LatLng(58.007779, 160.008477),
new google.maps.LatLng(58.008440, 160.005799),
new google.maps.LatLng(58.008846, 160.002944),
new google.maps.LatLng(58.008982, 160.000000),
new google.maps.LatLng(58.008846, 159.997056),
new google.maps.LatLng(58.008440, 159.994201),
new google.maps.LatLng(58.007779, 159.991523),
new google.maps.LatLng(58.006880, 159.989103),
new google.maps.LatLng(58.005773, 159.987013),
new google.maps.LatLng(58.004490, 159.985319),
new google.maps.LatLng(58.003071, 159.984071),
new google.maps.LatLng(58.001559, 159.983307),
new google.maps.LatLng(57.999999, 159.983050),
new google.maps.LatLng(57.998439, 159.983308),
new google.maps.LatLng(57.996927, 159.984073),
new google.maps.LatLng(57.995508, 159.985323),
new google.maps.LatLng(57.994226, 159.987018),
new google.maps.LatLng(57.993119, 159.989107),
new google.maps.LatLng(57.992221, 159.991527),
new google.maps.LatLng(57.991559, 159.994204),
new google.maps.LatLng(57.991154, 159.997057),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#000000",
fillOpacity: 0.500000,
paths: coords,
strokeColor: "#000000",
strokeOpacity: 1.000000,
strokeWeight: 1
});

polygon.setMap(map);


	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
